<section class="banner-area" id="home">	
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-start">
                <div class="banner-content col-lg-7">
                    <h6 class="text-white text-uppercase">Comienza el dia de la mejor manera</h6>
                    <h1>
                        Pan fresco postres y<br>
                        Mucho mas				
                    </h1>
                    <a href="#" class="primary-btn text-uppercase">Comprar</a>
                </div>											
            </div>
        </div>
</section>